@page
@model RecipeApplication.Pages.UsersListModel
@{
    ViewData["Title"] = "User List";
}

@foreach (var user in Model.UserRoles)
{
    <div>User: @user.UserName</div>
    <div>Email: @user.Email</div>
    <form asp-page-handler="DeleteUser" method="post" asp-route-stud_id="@user.UserName" onsubmit="return confirm('Delete?');">
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>
    <br />
}
